.staff-review_root {
    background-color: #f0f2f5;
    max-width: 100%;
    padding: 1rem 2rem;
}

.staff-info_container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    margin-top: 1rem;
}

.staff-info_text {
    text-decoration: underline;
    color: #055586;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5rem;
}

.staff-info_select-container {
    /* margin-left: 15rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.staff-info_select-text{
    margin-top: 0.75rem;
}

.staff-info_review-btn {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.staff-review_container {
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding: 1.5rem 3rem;
    margin-top: 1rem;
}

.staff-review_header {
    color: #055586;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5rem 0rem;
}

.staff-review_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.staff-review_form-item{
    margin: 0.5rem 0rem;
}

.staff-review_form-item-title{
    margin: 1rem 0rem;
}

.staff-review_form-item-title-name{
    color: #055586;
    font-style: italic;
    font-weight: 600;
    margin: 0rem 0.5rem;
    font-size: large;
}

.staff-review_form-item-title-info:hover{
    cursor: pointer;    
}

.staff-review_form-item-modal-title{
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    text-align: center;
    color: #055586;
    font-weight: 700;
    font-size: large;
}

.staff-review_form-item-modal-subtitle{
    text-align: center;
    margin-bottom: 1rem;
}

.staff-review_form-item-modal-name{
    font-weight: 600;
    font-style: italic;
    margin: 0rem 0.5rem;
}

.staff-review_form-item-modal-note{
    font-size: x-small;
    font-style: italic;
}


.staff-review_form-item-input{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 1.5rem 0rem;
    width: 60rem;
    margin-left: 3rem;
}

.staff-review_btn{
    margin: 0.5rem 0rem;
    text-align: center;
}