.review{
    width: 100%;
    background-color: #F0F2F5;
}
.review_container{
    background-color: #F0F2F5;
    margin: 0 40px;
}
.review_header{
    padding-top: 10px;
}
.review_filter{
    margin-top: 10px;
    height: 150px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}
.review_btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 10px;
}
.review_data{
    background-color: #FFFFFF;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;

}
.review_modal{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn_table{
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}