.compareuser{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #C3BCBC;
    padding-top: 20px;
}
.compareuser .compareuser-information{
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0 20px;
}
.compareuser .compareuser-information .compare{
    margin-left: 15px;
    margin-bottom: 20px;
}
.compareuser .compareuser-information h1{
    color: #055586;
}