.react-flow__node-default{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-flow__node-default:nth-of-type(1),.react-flow__node-default:nth-of-type(2),.react-flow__node-default:nth-of-type(3){
    border-radius: 10px;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}